<div>
  Guild Name: <input [(ngModel)]="guildName" /> Server Slug: <input [(ngModel)]="serverSlug" /> Server Region:
  <input [(ngModel)]="serverRegion" />
  <button (click)="searchGuild()">Search</button>
</div>
<div class="loading-spinner large" *ngIf="guildLoading"></div>
<table *ngIf="!guildLoading && guildReports">
  <tr>
    <th>Time</th>
    <th>Title</th>
    <th>Code</th>
  </tr>
  <tr *ngFor="let report of guildReports">
    <td>
      {{ report.startTime | date : "long" }}
    </td>
    <td>
      {{ report.title }}
    </td>
    <td>
      <a href="#" (click)="openReport($event, report.code)">{{ report.code }}</a>
    </td>
  </tr>
</table>

<div style="height: 40px"></div>
<div>
  Report Code: <input [(ngModel)]="reportCode" />
  <button (click)="searchReport()">Search</button>
</div>
<!-- <div *ngFor="let player of players">{{ player.name }} {{ player.guid }}</div> -->
<div class="loading-spinner large" *ngIf="reportLoading"></div>
<div *ngIf="!reportLoading && guildReport">
  <h1>
    Log:
    <a [href]="'https://classic.warcraftlogs.com/reports/' + reportCode" target="_blank">Link</a>
  </h1>
  <h3>Deaths</h3>
  <table>
    <tr>
      <th>Time</th>
      <th>Player</th>
      <th>Fight</th>
      <th>Cause</th>
    </tr>
    <tr *ngFor="let death of guildReport.deathEvents">
      <td>
        {{ death.timestamp - death.fightDetails.startTime | date : "mm:ss" }}
      </td>
      <td>{{ death.player.name }}</td>
      <td>{{ zoneEncounters[death.fightDetails.encounterID].name }} ({{ death.fight }})</td>
      <td>
        <wowhead-link type="spell" [id]="death.killingAbilityGameID"></wowhead-link>
      </td>
    </tr>
  </table>
</div>
