<div>Character Name: <input type="text" [(ngModel)]="characterName" /></div>
<div>
  Encounter:
  <select [(ngModel)]="encounterId">
    <option *ngFor="let encounter of zoneEncounters['Naxxramas']" [value]="encounter.id">
      {{ encounter.name }}
    </option>
  </select>
</div>
<button type="button" (click)="onSearch()">Search</button>

<table>
  <tr>
    <th>Date</th>
    <th>Rank Percent</th>
    <th>Guild Name</th>
    <th>Bracket Data</th>
    <th>Log</th>
    <th>Player Deaths</th>
  </tr>
  <tr *ngFor="let rankRow of rankRows">
    <td>{{ rankRow.date | date : "M/d/yy h:mm:ss a z" }}</td>
    <td>{{ rankRow.rankPercent | number : "1.0-2" }}</td>
    <td>{{ rankRow.guildName }}</td>
    <td>{{ rankRow.averageItemLevel }}</td>
    <td><a [href]="rankRow.logUrl" target="_blank">Link</a></td>
    <td>
      <div *ngIf="rankRow.playerDeathsLoading">
        <div class="loading-spinner"></div>
      </div>
      <div *ngIf="rankRow.playerDeaths.length > 0">
        <ul>
          <li *ngFor="let death of rankRow.playerDeaths">
            <wowhead-link type="spell" [id]="death.killingAbilityGameID"></wowhead-link>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</table>
