<div class="modal-content" [ngClass]="themeService.getThemeClass()">
  <form (submit)="onSignInFormSubmit(signInForm)" #signInForm="ngForm">
    <div class="modal-header">
      <h4>Sign In</h4>
    </div>
    <div class="modal-body">
      <div class="form-input">
        <label for="email"><b>Username</b></label>
        <input
          name="email"
          ngModel
          type="email"
          #emailInput="ngModel"
          [(ngModel)]="email_address"
          email
          placeholder="Enter Username"
          required
        />
      </div>

      <div class="form-input">
        <label for="password"><b>Password</b></label>
        <input
          [(ngModel)]="password"
          ngModel
          type="password"
          minlength="8"
          #passwordInput="ngModel"
          required
          name="password"
          placeholder="Enter Password"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="onForgotPasswordClick()">Reset Password</button>
      <button type="button" (click)="close()">Cancel</button>
      <button type="submit">Login</button>
    </div>
  </form>
</div>
