<div class="modal-content" [ngClass]="themeService.getThemeClass()">
  <div class="modal-header">
    <h4>Sign In</h4>
  </div>
  <form *ngIf="!isLoading" (submit)="onSignInFormSubmit(signInForm)" #signInForm="ngForm">
    <div class="modal-body">
      <label for="email"><b>Username</b></label>
      <input
        name="email"
        ngModel
        type="email"
        #emailInput="ngModel"
        [(ngModel)]="email_address"
        email
        placeholder="Enter Username"
        required
      />

      <label for="password"><b>Password</b></label>
      <input
        [(ngModel)]="password"
        ngModel
        type="password"
        minlength="8"
        #passwordInput="ngModel"
        required
        name="password"
        placeholder="Enter Password"
      />
    </div>
    <div class="modal-footer">
      <button type="button" (click)="onForgotPasswordClick()">Reset Password</button>
      <button type="button" (click)="close()">Cancel</button>
      <button type="submit">Sign In</button>
    </div>
  </form>
  <div *ngIf="isLoading" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <h5>Logging in...</h5>
    <div class="loading-spinner" style="width: 50px; height: 50px; margin-bottom: 15px"></div>
  </div>
</div>
