table,
th,
td {
  border: 1px solid black;
}

table {
  width: 100%;
}

.sprite {
  object-fit: cover;
}

.report-table-icon {
  width: 15px;
  height: 15px;
  --size: 15;
  border: 1px solid #555;
  float: left;
  margin-right: 6px;
  margin-left: 2px;
}

.actor-sprite-Boss {
  object-position: calc(0px * var(--size)) 0px;
}

.actor-sprite-DeathKnight-Blood {
  object-position: calc(-1px * var(--size)) 0px;
}

.actor-sprite-DeathKnight-Frost {
  object-position: calc(-2px * var(--size)) 0px;
}

.actor-sprite-DeathKnight-Lichborne {
  object-position: calc(-3px * var(--size)) 0px;
}

.actor-sprite-DeathKnight-Melee {
  object-position: calc(-4px * var(--size)) 0px;
}

.actor-sprite-DeathKnight-Runeblade {
  object-position: calc(-5px * var(--size)) 0px;
}

.actor-sprite-DeathKnight-Unholy {
  object-position: calc(-6px * var(--size)) 0px;
}

.actor-sprite-DeathKnight {
  object-position: calc(-7px * var(--size)) 0px;
}

.actor-sprite-DemonHunter-Havoc {
  object-position: calc(-8px * var(--size)) 0px;
}

.actor-sprite-DemonHunter-Vengeance {
  object-position: calc(-9px * var(--size)) 0px;
}

.actor-sprite-DemonHunter {
  object-position: calc(-10px * var(--size)) 0px;
}

.actor-sprite-Druid-Balance {
  object-position: calc(-11px * var(--size)) 0px;
}

.actor-sprite-Druid-Dreamstate {
  object-position: calc(-12px * var(--size)) 0px;
}

.actor-sprite-Druid-Feral {
  object-position: calc(-13px * var(--size)) 0px;
}

.actor-sprite-Druid-Guardian {
  object-position: calc(-14px * var(--size)) 0px;
}

.actor-sprite-Druid-Restoration {
  object-position: calc(-15px * var(--size)) 0px;
}

.actor-sprite-Druid-Warden {
  object-position: calc(-16px * var(--size)) 0px;
}

.actor-sprite-Druid {
  object-position: calc(-17px * var(--size)) 0px;
}

.actor-sprite-Evoker-Devastation {
  object-position: calc(-18px * var(--size)) 0px;
}

.actor-sprite-Evoker-Preservation {
  object-position: calc(-19px * var(--size)) 0px;
}

.actor-sprite-Evoker {
  object-position: calc(-20px * var(--size)) 0px;
}

.actor-sprite-Hunter-BeastMastery {
  object-position: calc(-21px * var(--size)) 0px;
}

.actor-sprite-Hunter-Marksmanship {
  object-position: calc(-22px * var(--size)) 0px;
}

.actor-sprite-Hunter-Ranged {
  object-position: calc(-23px * var(--size)) 0px;
}

.actor-sprite-Hunter-Survival {
  object-position: calc(-24px * var(--size)) 0px;
}

.actor-sprite-Hunter {
  object-position: calc(-25px * var(--size)) 0px;
}

.actor-sprite-Mage-Arcane {
  object-position: calc(-26px * var(--size)) 0px;
}

.actor-sprite-Mage-Fire {
  object-position: calc(-27px * var(--size)) 0px;
}

.actor-sprite-Mage-Frost {
  object-position: calc(-28px * var(--size)) 0px;
}

.actor-sprite-Mage-Ranged {
  object-position: calc(-29px * var(--size)) 0px;
}

.actor-sprite-Mage {
  object-position: calc(-30px * var(--size)) 0px;
}

.actor-sprite-Monk-Brewmaster {
  object-position: calc(-31px * var(--size)) 0px;
}

.actor-sprite-Monk-Mistweaver {
  object-position: calc(-32px * var(--size)) 0px;
}

.actor-sprite-Monk-Windwalker {
  object-position: calc(-33px * var(--size)) 0px;
}

.actor-sprite-Monk {
  object-position: calc(-34px * var(--size)) 0px;
}

.actor-sprite-NPC {
  object-position: calc(-35px * var(--size)) 0px;
}

.actor-sprite-Paladin-Holy {
  object-position: calc(-36px * var(--size)) 0px;
}

.actor-sprite-Paladin-Justicar {
  object-position: calc(-37px * var(--size)) 0px;
}

.actor-sprite-Paladin-Protection {
  object-position: calc(-38px * var(--size)) 0px;
}

.actor-sprite-Paladin-Retribution {
  object-position: calc(-39px * var(--size)) 0px;
}

.actor-sprite-Paladin {
  object-position: calc(-40px * var(--size)) 0px;
}

.actor-sprite-Pet {
  object-position: calc(-41px * var(--size)) 0px;
}

.actor-sprite-Priest-Discipline {
  object-position: calc(-42px * var(--size)) 0px;
}

.actor-sprite-Priest-Healing {
  object-position: calc(-43px * var(--size)) 0px;
}

.actor-sprite-Priest-Holy {
  object-position: calc(-44px * var(--size)) 0px;
}

.actor-sprite-Priest-Shadow {
  object-position: calc(-45px * var(--size)) 0px;
}

.actor-sprite-Priest-Smiter {
  object-position: calc(-46px * var(--size)) 0px;
}

.actor-sprite-Priest {
  object-position: calc(-47px * var(--size)) 0px;
}

.actor-sprite-Rogue-Assassination {
  object-position: calc(-48px * var(--size)) 0px;
}

.actor-sprite-Rogue-Combat {
  object-position: calc(-49px * var(--size)) 0px;
}

.actor-sprite-Rogue-Melee {
  object-position: calc(-50px * var(--size)) 0px;
}

.actor-sprite-Rogue-Outlaw {
  object-position: calc(-51px * var(--size)) 0px;
}

.actor-sprite-Rogue-Subtlety {
  object-position: calc(-52px * var(--size)) 0px;
}

.actor-sprite-Rogue {
  object-position: calc(-53px * var(--size)) 0px;
}

.actor-sprite-Shaman-Elemental {
  object-position: calc(-54px * var(--size)) 0px;
}

.actor-sprite-Shaman-Enhancement {
  object-position: calc(-55px * var(--size)) 0px;
}

.actor-sprite-Shaman-Restoration {
  object-position: calc(-56px * var(--size)) 0px;
}

.actor-sprite-Shaman {
  object-position: calc(-57px * var(--size)) 0px;
}

.actor-sprite-TricksOfTheTrade {
  object-position: calc(-58px * var(--size)) 0px;
}

.actor-sprite-UnholyFrenzy {
  object-position: calc(-59px * var(--size)) 0px;
}

.actor-sprite-Warlock-Affliction {
  object-position: calc(-60px * var(--size)) 0px;
}

.actor-sprite-Warlock-Demonology {
  object-position: calc(-61px * var(--size)) 0px;
}

.actor-sprite-Warlock-Destruction {
  object-position: calc(-62px * var(--size)) 0px;
}

.actor-sprite-Warlock-Ranged {
  object-position: calc(-63px * var(--size)) 0px;
}

.actor-sprite-Warlock {
  object-position: calc(-64px * var(--size)) 0px;
}

.actor-sprite-Warrior-Arms {
  object-position: calc(-65px * var(--size)) 0px;
}

.actor-sprite-Warrior-Champion {
  object-position: calc(-66px * var(--size)) 0px;
}

.actor-sprite-Warrior-Fury {
  object-position: calc(-67px * var(--size)) 0px;
}

.actor-sprite-Warrior-Gladiator {
  object-position: calc(-68px * var(--size)) 0px;
}

.actor-sprite-Warrior-Melee {
  object-position: calc(-69px * var(--size)) 0px;
}

.actor-sprite-Warrior-Protection {
  object-position: calc(-70px * var(--size)) 0px;
}

.actor-sprite-Warrior-Warden {
  object-position: calc(-71px * var(--size)) 0px;
}

.actor-sprite-Warrior {
  object-position: calc(-72px * var(--size)) 0px;
}
