<div class="dashboard-container" (konami)="onKonami()">
  <div class="left-container">
    <ng-container *ngIf="isDevelopment">
      <app-card [collapsed]="false" header="Playground">
        <div class="loading-spinner"></div>
        <app-svg-icon style="position: relative; top: 3px" iconName="refresh" size="20px"></app-svg-icon>
      </app-card>
    </ng-container>

    <app-card [collapsed]="true" header="VoA Raid Builder" *ngIf="konamiMode">
      <app-voa-raid-builder></app-voa-raid-builder>
    </app-card>

    <app-card [collapsed]="true" header="Specialization Data" *ngIf="konamiMode">
      <app-specialization-data></app-specialization-data>
    </app-card>

    <app-card header="Player Lookup" id="dashboard-player-lookup">
      <app-player-lookup #playerLookup></app-player-lookup>
    </app-card>

    <app-card header="Raid Lookup">
      <app-raid-lookup (characterNameClicked)="onRaidCharacterNameClicked($event)"></app-raid-lookup>
    </app-card>

    <app-card header="Raid Lookup V2">
      <app-raid-lookup-v2></app-raid-lookup-v2>
    </app-card>
  </div>
  <div class="right-container">
    <ng2-adsense [fullWidthResponsive]="true"></ng2-adsense>
  </div>
</div>
