<div class="flex-container">
  <app-card [collapsed]="true" header="Playground"> </app-card>

  <app-card [collapsed]="true" header="VoA Raid Builder">
    <app-voa-raid-builder></app-voa-raid-builder>
  </app-card>

  <app-card [collapsed]="true" header="Specialization Data"
    ><app-specialization-data></app-specialization-data
  ></app-card>

  <app-card header="Player Lookup">
    <app-player-lookup></app-player-lookup>
  </app-card>

  <app-card header="Raid Lookup">
    <app-raid-lookup></app-raid-lookup>
  </app-card>

  <app-card header="Raid Lead Helper">
    <app-raid-lead-helper></app-raid-lead-helper>
  </app-card>
</div>
