.dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.left-container {
  width: 100%;
}
.right-container {
  min-width: 310px;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .right-container {
    display: none;
  }
}

app-card:first-child {
  margin-top: 0;
  margin-bottom: 5px;
}
app-card:not(:first-child) {
  margin-top: 5px;
  margin-bottom: 5px;
}
