:host {
  display: inline-block;
  width: 100%;
  background-color: #e5e5e5;
}

.header {
  background-color: #dbdbdb;
  border: 1px solid #c7c7c7;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  * {
    display: inline-block;
  }
  h3 {
    margin: 0;
  }
  .visibility-toggle {
    float: right;
  }
}
.header:hover {
  background-color: #f3f3f3;
}

.body {
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  padding: 10px;
  padding-top: 10px;
}
