:host {
  display: inline-block;
  width: 100%;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  * {
    display: inline-block;
  }
  h3 {
    margin: 0;
  }
  .visibility-toggle {
    float: right;
  }
}

.body {
  padding: 10px;
  padding-top: 10px;
}
