header {
  padding: 5px;
  flex: 0 0 20px;

  .header-button-bar {
    float: right;
  }

  button {
    height: 21px;
  }
}
.light-theme header {
  background-color: #666666;
  color: white;
}
.dark-theme header {
  background-color: #565656;
  color: white;
}
