<div id="search-form">
  <span>Import:</span>
  <textarea [(ngModel)]="importJson"></textarea>
  <span>Raid:</span>
  <app-raid-size-selection selectionType="radio" [(ngModel)]="raidAndSize"></app-raid-size-selection>
  <button (click)="onSearchClick()">Search</button>
  <button (click)="onClearClick()">Clear</button>
</div>

<div class="loading-spinner large" *ngIf="raidRankingsLoading"></div>

<div *ngIf="viewModel" style="width: 50%">
  Class Filter:
  <app-class-selection
    [(ngModel)]="classFilterInput"
    (ngModelChange)="onClassFilterChange($event)"
  ></app-class-selection>
  <app-grid [data]="viewModel.filterData(classFilterInput)" [columns]="viewModel.columns">
    <tr *ngFor="let error of viewModel.errorData">
      <td style="color: red">{{ error.characterName }}</td>
      <td style="overflow: wrap" [attr.colspan]="viewModel.columns.length - 1">
        Error looking up player: {{ error.errors }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <app-parse-number [value]="viewModel.raidBestPerformanceAverage"></app-parse-number>
      </td>
      <td>
        <app-parse-number [value]="viewModel.raidMedianPerformance"></app-parse-number>
      </td>
      <td></td>
    </tr>
  </app-grid>
</div>
