<div id="search-form">
  <span>Import:</span>
  <textarea [(ngModel)]="importJson"></textarea>
  <span>Raid:</span>
  <app-instance-size-selection selectionType="radio" [(ngModel)]="instanceSizeSelection"></app-instance-size-selection>
  <button (click)="onSearchClick()">Search</button>
  <button (click)="onClearClick()">Clear</button>
</div>

<ng-container *ngIf="characters.length > 0">
  <div style="width: 100%; margin-top: 10px; margin-bottom: 10px">
    Class Filter:
    <app-class-selection [(ngModel)]="classFilterInput" (ngModelChange)="onFilterChanged()"></app-class-selection>
    Role Filter:
    <app-dropdown
      [options]="roleFilterOptions"
      [(ngModel)]="roleFilterInput"
      (ngModelChange)="onFilterChanged()"
    ></app-dropdown>
  </div>

  <app-grid [data]="filteredCharacters" [columns]="columns">
    <tr>
      <td *ngIf="raidRankingsLoading" [attr.colspan]="columns.length" style="text-align: center">
        <div class="loading-spinner large" *ngIf="raidRankingsLoading"></div>
      </td>
      <td
        *ngIf="filteredCharacters.length === 0 && !raidRankingsLoading"
        [attr.colspan]="columns.length"
        style="text-align: center"
      >
        No Characters Meet Filter Criteria
      </td>
    </tr>
    <ng-container *ngIf="!roleFilterInput && !classFilterInput">
      <tr *ngFor="let errorCharacter of erroredCharacters">
        <td></td>
        <td style="color: red">{{ errorCharacter.characterName }}</td>
        <td style="overflow: wrap" [attr.colspan]="columns.length - 2">
          Error looking up player: {{ errorCharacter.getErrorsString() }}
        </td>
      </tr>
    </ng-container>
  </app-grid>
</ng-container>
