<h4>
  Install addon, type <strong>/gme</strong>, and copy the "Account Lockouts" section. Paste into the box below and press
  "Import".
</h4>
<textarea [(ngModel)]="nitInput"></textarea>
<button (click)="onImportClick()" [disabled]="!nitInput">Import</button>
<button (click)="onToggleHiddenClick()">Toggle Hidden</button>
<button (click)="onAddClick()">Add Character</button>
<button (click)="onDeleteClick()">Delete Character</button>
<div class="loading-spinner large" *ngIf="isLoading"></div>
<div *ngIf="!viewModel && !isLoading">No data yet</div>
<app-grid
  class="characters-table"
  *ngIf="viewModel"
  [data]="viewModel.filteredData"
  [columns]="columns"
  sortArrowSide="left"
></app-grid>

<ng-template #raidStatusTemplate let-cellValue="cellValue">
  <div class="raid-status" [title]="cellValue.getTooltip()">
    {{ cellValue.scheduledDay }}
    {{ cellValue.scheduledTime }}
    {{ cellValue.notes }}
  </div>
</ng-template>

<ng-template #playerNameTemplate let-rowValue="rowValue">
  <div style="display: flex; flex-direction: row">
    <div style="flex: 5">{{ rowValue.characterName }}</div>
    <div style="flex: 1; cursor: pointer; display: flex; align-items: center" (click)="onHiddenToggleClick(rowValue)">
      <app-svg-icon
        [ngClass]="{ warn: rowValue.hidden }"
        [iconName]="rowValue.hidden ? 'no-eye' : 'eye'"
        size="18px"
      ></app-svg-icon>
    </div>
  </div>
</ng-template>
