<div class="container" (click)="onContainerClick()">
  <div *ngFor="let viewModel of viewModels" (click)="viewModel.toggle()" [ngClass]="{ selected: viewModel.selected }">
    <app-specialization-icon size="small" [specialization]="viewModel.specialization"></app-specialization-icon>
    <span>&nbsp;{{ viewModel.specialization.className }} {{ viewModel.specialization.specializationName }}</span>
  </div>
</div>
<div>
  <button class="chunky-btn" (click)="onClearClick()">Clear</button>
  <button class="chunky-btn" (click)="onCopyClick()">Copy</button>
  <div style="display: inline-block">
    <div>Total: {{ totalCount }}</div>
    <div>{{ roleCountsString }}</div>
  </div>
</div>
<div>
  <input id="lfg-output" style="width: 90%" [value]="getLfgString()" />
</div>
