<div class="search-form">
  Player 1:
  <input [(ngModel)]="player1NameInput" (keypress)="onPlayerNameKeyPress($event)" />
  Player 2:
  <input [(ngModel)]="player2NameInput" (keypress)="onPlayerNameKeyPress($event)" />
  Metric:
  <select [(ngModel)]="metricInput">
    <option *ngFor="let rankingMetric of rankingMetricValues" [value]="rankingMetric">{{ rankingMetric }}</option>
  </select>
  Raid:
  <app-instance-size-selection selectionType="radio" [(ngModel)]="instanceSizeSelection"></app-instance-size-selection>
  <button (click)="onSearchClick()">Search</button>
  <button (click)="onClearClick()">Clear</button>
  <div>
    Class: <app-class-selection [(ngModel)]="wowClassFilter" (change)="onClassChange($event)"></app-class-selection>
    <ng-container *ngIf="wowClassFilter">
      Spec:
      <app-class-spec-selection
        [classId]="wowClassFilter.warcraftLogsId"
        [(ngModel)]="specializationFilter"
      ></app-class-spec-selection>
    </ng-container>
  </div>
</div>

<div class="loading-spinner large" *ngIf="isLoading"></div>
<ng-container *ngIf="viewModel && viewModel.encounters && !isLoading"> </ng-container>
<ng-container *ngIf="viewModel && viewModel.encounters && !isLoading">
  <div style="display: flex; width: 80%">
    <app-grid style="flex: 2" [data]="viewModel.encounters" [columns]="viewModel.columns"></app-grid>
  </div>
</ng-container>

<ng-template #parseColumnTemplate let-cellValue="cellValue">
  <app-parse-number
    style="display: inline-block"
    [specialization]="cellValue.specialization"
    [value]="cellValue.value"
  ></app-parse-number>
  <span *ngIf="cellValue.hardMode">🥇</span>
</ng-template>
