<select #raidSelect (change)="onSelectChange($event)">
  <option value="">-</option>
  <option value="toc">Trial of the Crusader</option>
  <option value="wotlknaxx">Naxxramas</option>
  <option value="ulduar">Ulduar</option>
  <option value="obsidiansanctum">Obsidian Sanctum</option>
  <option value="eyeofeternity">Eye of Eternity</option>
</select>
<label [for]="'size10' + uniqueId">10</label>
<input
  #size10
  [id]="'size10' + uniqueId"
  [name]="'sizeSelection' + uniqueId"
  [type]="selectionType"
  (change)="onInputChange($event)"
/>
<label [for]="'size25' + uniqueId">25</label>
<input
  #size25
  [id]="'size25' + uniqueId"
  [name]="'sizeSelection' + uniqueId"
  [type]="selectionType"
  (change)="onInputChange($event)"
/>
