#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#output {
  width: 100%;
}
#spam-output-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  #spam-output {
    flex-grow: 1;
  }
}
