<div id="form">
  <ng-container *ngIf="hideRaidInputFields">
    <div>
      Raid: <app-raid-size-selection selectionType="radio" [(ngModel)]="raid.raidAndSize"></app-raid-size-selection>
    </div>
    <div>
      Hard Reserve:
      <app-item-selection
        *ngIf="raid.raidAndSize"
        [instance]="raid.raidAndSize.getSoftResSlug()"
        [(ngModel)]="raid.hardReserveItem"
      ></app-item-selection>
    </div>
    <div>Soft Reserves: <input type="number" [(ngModel)]="raid.softReserveCount" /></div>
  </ng-container>
  <div>
    <input
      [id]="'custom-message-checkbox-' + uniqueId"
      [name]="'custom-message-checkbox-' + uniqueId"
      type="checkbox"
      [(ngModel)]="useCustomMessage"
    />
    <label [for]="'custom-message-checkbox-' + uniqueId">Use Custom Message</label>
  </div>
</div>
<div id="message-container">
  <app-copy-icon (click)="onCopyClick()"></app-copy-icon>
  <ng-container *ngIf="!useCustomMessage">
    Output:<input
      readonly
      disabled
      [id]="'generated-message-' + uniqueId"
      class="message"
      [value]="spamOutput || 'Fill out form'"
    />
  </ng-container>
  <ng-container *ngIf="useCustomMessage">
    Output:<input [id]="'custom-message-' + uniqueId" class="message" [(ngModel)]="customMessage" />
  </ng-container>
</div>
