<div id="form">
  <div id="raid">
    Raid: <app-raid-size-selection selectionType="radio" [(ngModel)]="raid.raidAndSize"></app-raid-size-selection>

    Hard Reserve:
    <app-item-selection
      *ngIf="raid.raidAndSize"
      [instance]="raid.raidAndSize.getSoftResSlug()"
      [(ngModel)]="raid.hardReserveItem"
    ></app-item-selection>
  </div>
  <div id="soft-reserves">Soft Reserves: <input type="number" [(ngModel)]="raid.softReserveCount" /></div>
</div>
<div id="spam-output-container">
  <app-copy-icon (click)="onCopyClick()"></app-copy-icon>
  Output:<input id="spam-output" [value]="spamOutput || 'Fill out form'" />
</div>
