<div
  *ngFor="let character of characters; let i = index"
  class="character-item existing-character"
  [class.selected]="character === selectedCharacter"
  (click)="onCharacterClick(i, $event)"
>
  <app-specialization-icon
    class="spec-icon"
    sizePx="45px"
    [specialization]="character.specialization"
  ></app-specialization-icon>
  <div class="character-info">
    <h3 class="character-name">{{ character.name }}</h3>
  </div>
  <div class="buttons">
    <button (click)="onEditCharacterClick(i)">📝</button>
    <button (click)="onDeleteCharacterClick(i)">❌</button>
  </div>
</div>
<div class="character-item new-character" (click)="onWseImportClick()">➕ Import Character</div>
<textarea [(ngModel)]="wseInput"></textarea>
