// TODO: Proper theming
.character-item {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;

  &.new-character {
    background-color: #253520;
    &:hover {
      background-color: #2f3f2a;
    }
  }
  &.existing-character {
    background-color: #282828;
    border-bottom: 0;
    &:hover {
      background-color: #4f4f4f;
    }
  }
  &.selected {
    background-color: #ffdb97;
    color: black;
    &:hover {
      background-color: #ffebc6;
      color: black;
    }
  }

  .spec-icon {
    padding-right: 10px;
  }
  .character-info {
    flex: 1;
    .character-name {
      padding: 0;
      margin: 0;
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
}

.import-character {
  border-bottom: 1px solid black;
}
