<table>
  <tr>
    <th *ngFor="let column of columns; let i = index" (click)="onClickColumnSort(i)">
      <div>
        {{ getColumnLabel(column, i) }}
      </div>
    </th>
  </tr>
  <tr *ngFor="let dataRow of sortedData" [ngStyle]="dataRow.rowStyle">
    <td
      *ngFor="let column of columns"
      [ngStyle]="getCellStyle(dataRow, column)"
      (click)="onClickCell(dataRow, column)"
      [attr.title]="getCellTooltip(dataRow, column)"
    >
      <!-- TODO: Wrapping an array and using ngFor is a hack to set the variable -->
      <ng-container *ngFor="let cellValue of [getCellValue(dataRow, column)]">
        <ng-container *ngIf="column.format">
          <ng-container [ngSwitch]="column.format.type">
            <ng-container *ngSwitchCase="'wcl-link'">
              <app-wcl-link-icon size="small" [characterName]="cellValue"></app-wcl-link-icon>
            </ng-container>
            <ng-container *ngSwitchCase="'parse'">
              <app-parse-number
                *ngIf="cellValue"
                [specialization]="cellValue.specialization"
                [value]="cellValue.value"
              ></app-parse-number>
            </ng-container>
            <ng-container *ngSwitchCase="'number'">
              {{ cellValue | number : column.format.formatParams }}
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              {{ cellValue | date : column.format.formatParams }}
            </ng-container>
            <ng-container *ngSwitchCase="'custom'">
              {{ getColumnCustomFormat(column, dataRow) }}
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!column.format">
          {{ cellValue }}
        </ng-container>
      </ng-container>
    </td>
  </tr>
  <ng-content></ng-content>
</table>
