<table>
  <tr>
    <th *ngFor="let column of columns; let i = index" [ngStyle]="getColumnStyle(column)" (click)="onClickColumnSort(i)">
      <div>
        {{ getColumnLabel(column, i) }}
      </div>
    </th>
  </tr>
  <tr *ngFor="let rowValue of sortedData" [ngStyle]="rowValue.rowStyle">
    <td
      *ngFor="let column of columns"
      [ngStyle]="getCellStyle(rowValue, column)"
      (click)="onClickCell(rowValue, column)"
      [attr.title]="getCellTooltip(rowValue, column)"
    >
      <!-- TODO: Wrapping an array and using ngFor is a hack to set the variable -->
      <ng-container *ngFor="let cellValue of [getCellValue(rowValue, column)]">
        <ng-container *ngIf="column.format">
          <ng-container [ngSwitch]="column.format.type">
            <ng-container *ngSwitchCase="'template'">
              <ng-container
                *ngIf="column.format.template"
                [ngTemplateOutlet]="column.format.template"
                [ngTemplateOutletContext]="{ cellValue, rowValue }"
              ></ng-container>
              <ng-container *ngIf="!column.format.template">TEMPLATE NOT SPECIFIED</ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'parse'">
              <app-parse-number
                *ngIf="cellValue"
                [specialization]="cellValue.specialization"
                [value]="cellValue.value"
              ></app-parse-number>
            </ng-container>
            <ng-container *ngSwitchCase="'class'" style="text-align: center">
              <app-class-icon size="small" [wowClass]="cellValue"></app-class-icon>
            </ng-container>
            <ng-container *ngSwitchCase="'number'">
              {{ cellValue | number : column.format.formatParams }}
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              {{ cellValue | date : column.format.formatParams }}
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!column.format">
          {{ cellValue }}
        </ng-container>
      </ng-container>
    </td>
  </tr>
  <ng-content></ng-content>
</table>
