<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  <app-card style="flex: 1">
    <app-my-character-list
      [characters]="myCharacters"
      [selectedCharacter]="selectedCharacter"
      (characterClicked)="onCharacterClicked($event)"
      (editCharacterClicked)="onEditCharacterClick($event)"
      (deleteCharacterClicked)="onDeleteCharacterClick($event)"
      (wseImported)="onWseImported($event)"
    ></app-my-character-list>
  </app-card>
  <app-card style="flex: 3">
    <app-card header="Gear" *ngIf="myCharacters.length > 0" [collapsed]="false">
      <div style="display: flex; flex-direction: row">
        <span style="margin-right: 10px">Compare Gear to Set:</span>
        <app-dropdown
          *ngIf="compareSets"
          [options]="compareSets"
          [removeBlank]="true"
          labelPropertyName="name"
          style="flex: auto"
          [(ngModel)]="selectedSet"
        ></app-dropdown>
      </div>
      <div *ngIf="gearSetsLoading" class="loading-spinner"></div>
      <app-my-character-gear-compare
        [compareGear]="selectedSet?.gear"
        [myGear]="selectedCharacter?.gear"
      ></app-my-character-gear-compare>
    </app-card>
  </app-card>
</div>

<app-card header="Rankings" *ngIf="myCharacters.length > 0">
  <app-my-characters-rankings [myCharacters]="myCharacters"></app-my-characters-rankings>
</app-card>
