<div id="search-form">
  Player Name:
  <input [(ngModel)]="characterNameInput" (keypress)="onPlayerNameKeyPress($event)" />
  Metric:
  <select [(ngModel)]="metricInput">
    <option *ngFor="let rankingMetric of rankingMetricValues" [value]="rankingMetric">{{ rankingMetric }}</option>
  </select>
  Raid:
  <app-raid-size-selection selectionType="checkbox" [(ngModel)]="raidAndSize"></app-raid-size-selection>
  <button (click)="onSearchClick()">Search</button>
  <button (click)="onClearClick()">Clear</button>
</div>

<div class="loading-spinner large" *ngIf="isLoading"></div>
<ng-container *ngIf="viewModel && viewModel.encounters && !isLoading">
  <div style="display: flex; width: 80%">
    <div style="flex: 1; border: 1px black solid; border-right: 0">
      <h3 style="text-align: center">{{ viewModel.characterName }}</h3>
      <div *ngIf="viewModel?.warcraftLogsClassId" style="text-align: center">
        Spec:
        <app-class-spec-selection
          [(ngModel)]="specFilter"
          [classId]="viewModel!.warcraftLogsClassId"
          (ngModelChange)="onSpecChanged($event)"
          blankLabel="All"
        ></app-class-spec-selection>
      </div>
      <app-player-raid-stats
        [best]="viewModel.bestPerformanceAverage"
        [median]="viewModel.medianPerformanceAverage"
        [hardModes]="viewModel.hardModes"
        [hardModeCount]="viewModel.maxPossibleHardmodes"
      ></app-player-raid-stats>
      <div style="flex: 1; text-align: center; margin-top: 10px">
        <app-wcl-link-icon size="large" [characterName]="viewModel.characterName"></app-wcl-link-icon>
      </div>
    </div>
    <app-grid style="flex: 2" [data]="viewModel.encounters" [columns]="viewModel.columns"></app-grid>
  </div>
</ng-container>

<ng-container *ngIf="viewModel10 || viewModel25">
  <div style="display: flex; flex-direction: row; flex-flow: row wrap">
    <div
      style="order: 1; flex: 1; display: flex; flex-direction: column; padding: 10px"
      *ngIf="viewModel10 && viewModel10.encounters"
    >
      <div style="display: flex; flex-direction: row; border: 1px black solid; border-bottom: 0; padding: 5px">
        <div style="flex: 2; text-align: center">
          <div style="font-weight: bold">Ulduar</div>
          <div style="font-size: 20px">10</div>
        </div>
        <app-player-raid-stats
          style="flex: 5"
          [best]="viewModel10.bestPerformanceAverage"
          [median]="viewModel10.medianPerformanceAverage"
          [hardModes]="viewModel10.hardModes"
          [hardModeCount]="viewModel10.maxPossibleHardmodes"
          orientation="horizontal"
        ></app-player-raid-stats>
        <app-wcl-link-icon size="large" [characterName]="viewModel10.characterName"></app-wcl-link-icon>
      </div>
      <app-grid [data]="viewModel10.encounters" [columns]="viewModel10.columns"></app-grid>
    </div>
    <div
      style="order: 2; flex: 1; display: flex; flex-direction: column; padding: 10px"
      *ngIf="viewModel25 && viewModel25.encounters"
    >
      <div style="display: flex; flex-direction: row; border: 1px black solid; border-bottom: 0; padding: 5px">
        <div style="flex: 2; text-align: center">
          <div style="font-weight: bold">Ulduar</div>
          <div style="font-size: 20px">25</div>
        </div>
        <app-player-raid-stats
          style="flex: 5"
          [best]="viewModel25.bestPerformanceAverage"
          [median]="viewModel25.medianPerformanceAverage"
          [hardModes]="viewModel25.hardModes"
          [hardModeCount]="viewModel25.maxPossibleHardmodes"
          orientation="horizontal"
        ></app-player-raid-stats>
        <app-wcl-link-icon size="large" [characterName]="viewModel25.characterName"></app-wcl-link-icon>
      </div>
      <app-grid [data]="viewModel25.encounters" [columns]="viewModel25.columns"></app-grid>
    </div>
  </div>
</ng-container>
