<select #raidSelect [(ngModel)]="selectedInstance" (change)="onSelectChange($event)">
  <option *ngFor="let instance of instances" [ngValue]="instance">{{ instance.name }}</option>
</select>
<label [for]="'size10' + uniqueId">10</label>
<input
  #size10
  [id]="'size10' + uniqueId"
  [name]="'sizeSelection' + uniqueId"
  [type]="selectionType"
  (change)="onInputChange($event)"
/>
<label [for]="'size25' + uniqueId">25</label>
<input
  #size25
  [id]="'size25' + uniqueId"
  [name]="'sizeSelection' + uniqueId"
  [type]="selectionType"
  (change)="onInputChange($event)"
/>
