:host {
  height: 100%;
}

.free-emphasis {
  background-color: orange;
  color: black;
  padding: 2px;
  border-radius: 10px;
  font-size: 10px;
  margin-left: 2px;
  top: -1px;
  position: relative;
}

.full-wrapper {
  width: 100%;
  height: 100%;
}
.light-theme.full-wrapper {
  background-color: #a9a9a9;
}
.dark-theme.full-wrapper {
  background-color: #000000;
}

.header-button-bar {
  float: right;
}

.svg-button {
  position: relative;
  top: 4px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.middle-container {
  max-width: 1280px;
  margin: auto;
  line-height: 1.5;
}

.left-container {
  max-width: 1280px;
  line-height: 1.5;
}

header {
  padding: 5px;
  flex: 0 0 20px;

  button {
    height: 21px;
  }
}
.light-theme header {
  background-color: #666666;
  color: white;
}
.dark-theme header {
  background-color: #565656;
  color: white;
}

#main {
  flex: 1 1 auto;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
}

#side-navigation {
  flex: 0 0 150px;
  padding: 1rem;
}
.light-theme #side-navigation {
  background-color: #e5e5e5;
}
.dark-theme #side-navigation {
  background-color: #343434;
  a {
    color: #9abee7;
  }
  a:visited {
    color: #cf9ae7;
  }
}

#content {
  flex: auto;
  padding: 1rem;
  overflow-y: scroll;
}
.light-theme #content {
  background-color: #cdcdcd;
}
.dark-theme #content {
  background-color: #2c2c2c;
}

#navboor {
  height: auto !important;
  overflow: hidden;
  background-color: #333;

  a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
