:host {
  height: 100%;
}

.full-wrapper {
  width: 100%;
  height: 100%;
}
.light-theme.full-wrapper {
  background-color: #a9a9a9;
}
.dark-theme.full-wrapper {
  background-color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.middle-container {
  max-width: 1280px;
  margin: auto;
  line-height: 1.5;
}

.left-container {
  max-width: 1280px;
  line-height: 1.5;
}

header {
  padding: 5px;
  flex: 0 0 20px;

  button.right {
    float: right;
  }
}
.light-theme header {
  background-color: #666666;
  color: white;
}
.dark-theme header {
  background-color: #1e1d1e;
  color: white;
}

#main {
  flex: 1 1 auto;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
}

#side-navigation {
  flex: 0 0 150px;
  padding: 1rem;
}
.light-theme #side-navigation {
  background-color: #e5e5e5;
}
.dark-theme #side-navigation {
  background-color: #343434;
  a {
    color: #9abee7;
  }
  a:visited {
    color: #cf9ae7;
  }
}

#content {
  flex: auto;
  padding: 1rem;
  overflow-y: scroll;
}
.light-theme #content {
  background-color: #cdcdcd;
}
.dark-theme #content {
  background-color: #2c2c2c;
}
