:host {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.middle-container {
  max-width: 1280px;
  margin: auto;
  line-height: 1.5;
}

.left-container {
  max-width: 1280px;
  line-height: 1.5;
}

header {
  padding: 5px;
  flex: 0 0 20px;
  background-color: #666666;
  color: white;

  button.right {
    float: right;
  }
}

#main {
  flex: 1 1 auto;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
  #side-navigation {
    flex: 0 0 150px;
    padding: 1rem;
    background-color: #e1e1e1;
  }
  #content {
    flex: auto;
    padding: 1rem;
    background-color: #cdcdcd;
    overflow-y: scroll;
  }
}
