<div class="full-wrapper" [ngClass]="themeService.getThemeClass()">
  <div class="wrapper" [ngClass]="containerStyles[containerStyle].cssClass">
    <header>
      <app-svg-icon class="svg-button" iconName="hamburger" size="18px" (click)="onHamburgerClick()"></app-svg-icon>
      <span style="margin-right: 10px; font-size: 16px">WoW Classic App</span>
      <app-server-selection [(ngModel)]="regionServerService.regionServer"></app-server-selection>
      <div class="header-button-bar">
        <app-svg-icon class="svg-button" iconName="discord" size="18px" (click)="onDiscordClick()"></app-svg-icon>
        <button (click)="onDownloadButtonClick()">Download Addon</button>
        <!-- <button (click)="cycleContainerStyle()">{{ nextContainerStyle }}</button> -->
        <button class="emoji" (click)="onGettingStartedClick()">❔</button>
        <button class="emoji" (click)="onToggleThemeClick()">
          {{ themeService.theme === 'light' ? '🌞' : '🌙' }}
        </button>
        <button *ngIf="!authService.user" (click)="onLoginButtonClick()">Login</button>
        <span style="display: inline-block" *ngIf="authService.user">{{ authService.user.name }}</span>
        <button *ngIf="authService.user" (click)="onLogoutButtonClick()">Logout</button>
      </div>
    </header>
    <div id="main">
      <aside id="side-navigation" *ngIf="isNavigationShown">
        <div *ngFor="let nav of navigation">
          <a [routerLink]="nav.routerLink">{{ nav.title }}</a>
        </div>
      </aside>
      <section id="content">
        <app-getting-started></app-getting-started>
        <router-outlet></router-outlet>
      </section>
    </div>
    <!-- <footer>Footer</footer> -->

    <div class="custom-toast-container" toastContainer></div>
  </div>
</div>
