<input readonly (mouseenter)="onInputMouseEnter()" (mouseleave)="onInputMouseLeave()" />
<div class="selected-spec">
  {{ selection ?? blankLabel }}
</div>
<div
  class="dropdown-content"
  [style.display]="isDropdownShown ? 'block' : 'none'"
  (mouseenter)="onContentMouseEnter()"
  (mouseleave)="onContentMouseLeave()"
>
  <ng-container *ngIf="options.length > 0">
    <div *ngIf="!removeBlank" class="dropdown-item" style="height: 20px" (click)="onDropdownItemClick(undefined)">
      {{ blankLabel }}
    </div>
    <div class="dropdown-item" *ngFor="let option of options" (click)="onDropdownItemClick(option)">
      {{ option }}
    </div>
  </ng-container>
</div>
