// SVG
.light-theme {
  svg {
    fill: #000000;
  }
  svg g#copy {
    fill: #000000;
  }

  header svg {
    fill: #d5d5d5;
  }
  header svg g#copy {
    fill: #d5d5d5;
  }
}
.dark-theme {
  svg {
    fill: #d5d5d5;
  }
  svg g#copy {
    fill: #d5d5d5;
  }
}
