.c2 {
  color: #f48cba !important;
  --color: #f48cba;
}
.q0 {
  color: #9d9d9d !important;
  --color: #9d9d9d;
}
.light-theme .q0 {
  color: #919191 !important;
  --color: #919191;
}
.q1 {
  color: #fff !important;
  --color: #fff;
}
.light-theme .q1 {
  color: #000 !important;
  --color: #000;
}
.q2 {
  color: #1eff00 !important;
  --color: #1eff00;
}
.light-theme .q2 {
  color: #13a700 !important;
  --color: #13a700;
}
.q3 {
  color: #0070dd !important;
  --color: #0070dd;
}
.q4 {
  color: #a335ee !important;
  --color: #a335ee;
}
.q5 {
  color: #ff8000 !important;
  --color: #ff8000;
}
.q6 {
  color: #e5cc80 !important;
  --color: #e5cc80;
}
.light-theme .q6 {
  color: #d9b503 !important;
  --color: #d9b503;
}
.q7 {
  color: #0cf !important;
  --color: #0cf;
}
.q8 {
  color: #0cf !important;
  --color: #0cf;
}
.q9 {
  color: #71d5ff !important;
  --color: #71d5ff;
}
.q10 {
  color: #ff4040 !important;
  --color: #ff4040;
}
.q13 {
  color: #ffff98 !important;
  --color: #ffff98;
}
.q14 {
  color: #8788ee !important;
  --color: #8788ee;
}
